<!-- Newsletter Signup -->
<div id="revue-embed" class="revue-embed">
    <form action="https://www.getrevue.co/profile/himanshu/add_subscriber" method="post" id="revue-form" name="revue-form"
          target="_blank">
        <div class="revue-input">
            <input type="email" class="button" name="member[email]" id="member_email" placeholder="Your email address...">
            <input type="submit" class="button" name="member[subscribe]" id="member_submit" value="📬 Subscribe">
        </div>
    </form>
</div>